<div class="animated fadeIn">
    <div class="row">
      <!--/.col-->
      <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
             Les locataires de Lansrod
             <button class="btn btn-success pull-right" (click)="onNewLocataire()" >
                <span class="icon-plus icons"></span> Nouveau locataire
             </button>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Adresse</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let locataire of locataires" (click)="goDetails()"  style="cursor: pointer">
                    <td>{{ locataire.nom }}</td>
                    <td>{{ locataire.prenom }}</td>
                    <td>{{ locataire.adresse }}</td>
                    <td>{{ locataire.email }}</td>
                    <td>{{ locataire.telephone }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
              <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
           </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
